/* Resets*/
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
    
}

/*Default Colors and Fonts*/

:root{
    --primary:#FFA500;
    --secondary:#2E8B57;
    --highlight:#FF6347;
    --background:#FFF8DC;
    --text:#333333;

    --headings:"Playfair Display";
    --secHeadings:"Montserrat";
    --body:"Noto Serif";
    --Logo:"Pacifico";

}

body{
    background-color: var(--background);
    color: var(--text);
    font-family: var(--body);
    font-weight: bold;
    
}

#Logo{
    font-family:cursive;
}
.navBar{
    z-index: 12;
    background-color: var(--primary);
    color: var(--background);
    display: block;
    height: 3rem;
    padding: 1rem 0 1rem 1rem;
    width: 100%;
    position: fixed;
}
.navBar ul{
    list-style: none;
    float:right; 
}

.navBar li{
    display: inline;
    font-weight: bold;
    
    
      
}
.navBar a{
    text-decoration: none;
    padding: 1rem;
    color: var(--background);
}
.navBar a:hover{
    background-color:var(--highlight);
    color: var(--background);
}


/* Hero Section*/
#hero{
    padding: 4rem 1rem 0 1rem;
    height: auto;
    display: flex;
    flex-direction: column;
    
}

#hero h1{
    font-size: 4rem;
    color: var(--primary);
    font-family: var(--headings);
}
#hero h4{
        padding-top: 1rem;
        color: var(--secondary);
        font-family: var(--secHeadings);
}

 
#imageContainer{
    position: relative;
    margin: 3rem 0 0 0;
    height: auto;
    width: 100%;
    
}

#imageContainer img{
    position: absolute;
    top: 0;
    right: 2rem;
    z-index: -5;
    opacity: 0.4;
    width: 200px;
    height: auto;
    float:right;
}

#p1{
    font-family: var(--body);
    
    font-weight: 800;
    text-align: justify;
    line-height: 1.3rem;
    letter-spacing: 0.07rem;
    max-width: 70%;

}

/* Buy Section*/
.buyFoods{
    margin-top: 2rem;
    padding-top: 3rem;

}

.buyFoods h3{
    font-family: var(--secHeadings);
    font-size: 4rem;
    margin-left:1rem ;
    color: var(--secondary);
}
.buyFoods h4{
    font-family: var(--body),Arial, Helvetica, sans-serif;
    font-size: 1.5rem;
    margin-left:1rem ;
}

.itemContainer{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    margin: 1rem;
    
}

.container{
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 1rem;
}

.imageContainer{
    width: 10rem;
    height: 250px;
}

.image{
    max-width: 100%;
    height: 100%;
    object-fit: cover;
    
}

.buyCard{
    padding: 1rem;
}

.buttonSet{
    display: block;
    margin: 1rem;
    
}
.buttonSet button,.buttonSet p{
    width: 1.5rem;
    height: 2rem;
    padding: 0.5rem;
    margin: 0.5rem;
    display: inline;
    border: none;

    color: var(--background);
    background-color: var(--secondary);
}

.fruitName{
    font-size: 2rem;
    margin-bottom: 1rem;
    color: var(--secondary);
}
.price{
    font-size: 1rem;
    color: var(--highlight);
}

#buyNow{
    width: 100%;
    padding: 1rem;
    border: none;
    background-color: var(--primary);
}

/*Table*/

#table h1{
    font-size: 2rem;
    margin: 1rem;
    color: var(--secondary);
}
.tableSet{
    margin-top: 3rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}


table {
    
    width: 80%;
  }

th{
    background-color: var(--highlight);
    color: var(--background);
}
  
th,td{
    padding: 1rem;
    text-align: center;
    border:none;
    font-weight: 700;
}

/*Link Section*/

#links{
    margin: 2rem 1rem;
}
#links h3{
    font-size: 2rem;
    color: var(--secondary);
}
#links ul{
    margin-top: 2rem;
    margin-left: 3rem;
    list-style:circle;
    font-size: 1.1rem;
    line-height: 1.7rem;
}

footer{
    height: 3rem;
    width: 100%;
    padding: 1rem;
    text-align: center;
    background-color: var(--primary);
     
}